@keyframes scroll-spy-link-active-indicator {
	100% {
		width: calc(100% - 1rem);
	}
}

@keyframes blink {
	0% {
		background-color: transparent;
	}

	20% {
		color: var(--onyx);
		background-color: var(--platinum);
	}

	40% {
		background-color: transparent;
	}

	60% {
		color: var(--onyx);
		background-color: var(--platinum);
	}

	80% {
		background-color: transparent;
	}

	100% {
		color: var(--onyx);
		background-color: var(--platinum);
	}
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: var(--platinum);
	}
	50% {
		border-color: transparent;
	}
}

@keyframes appear-from-left {
	from {
		filter: blur(8px);
		transform: translateX(-50%);
	}

	to {
		filter: blur(0px);
		transform: translateX(0%);
	}
}
