:root {
	/* HEX */
	--night: #0d0d0dff;
	--onyx: #424242ff;
	--davys-gray: #5c5c5cff;
	--battleship-gray: #8e8e8eff;
	--cadet-gray: #9d9d9dff;
	--platinum: #dededeff;

	/* Gradient */
	--gradient-top: linear-gradient(0deg, #0d0d0dff, #424242ff, #5c5c5cff, #8e8e8eff, #9d9d9dff, #dededeff);
	--gradient-right: linear-gradient(90deg, #0d0d0dff, #424242ff, #5c5c5cff, #8e8e8eff, #9d9d9dff, #dededeff);
	--gradient-bottom: linear-gradient(180deg, #0d0d0dff, #424242ff, #5c5c5cff, #8e8e8eff, #9d9d9dff, #dededeff);
	--gradient-left: linear-gradient(270deg, #0d0d0dff, #424242ff, #5c5c5cff, #8e8e8eff, #9d9d9dff, #dededeff);
	--gradient-top-right: linear-gradient(45deg, #0d0d0dff, #424242ff, #5c5c5cff, #8e8e8eff, #9d9d9dff, #dededeff);
	--gradient-bottom-right: linear-gradient(135deg, #0d0d0dff, #424242ff, #5c5c5cff, #8e8e8eff, #9d9d9dff, #dededeff);
	--gradient-top-left: linear-gradient(225deg, #0d0d0dff, #424242ff, #5c5c5cff, #8e8e8eff, #9d9d9dff, #dededeff);
	--gradient-bottom-left: linear-gradient(315deg, #0d0d0dff, #424242ff, #5c5c5cff, #8e8e8eff, #9d9d9dff, #dededeff);
	--gradient-radial: radial-gradient(#0d0d0dff, #424242ff, #5c5c5cff, #8e8e8eff, #9d9d9dff, #dededeff);

	--shadow: 0px 0px 24px rgba(222, 222, 222, 0.8);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	/* background-color: var(--night);
	background-image: url(../img/monochrome-city.jpg);
	backdrop-filter: brightness(40%) blur(8px); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;*/

	/* font-family: "Conthrax"; */
	color: var(--platinum);
	font-family: "SauceCodePro Nerd Font";
	text-rendering: optimizeLegibility;
	font-variant-ligatures: normal;

	display: flex;
	flex-direction: row-reverse;
}

#vanta {
	position: fixed;
	height: 100vh;
	width: 100vw;
}

#blur {
	position: fixed;
	height: 100vh;
	width: 100vw;
	backdrop-filter: brightness(40%) blur(8px);
}

div#scroll-spy {
	display: grid;
	place-content: center;
	width: 3.25rem;
}

div#scroll-spy > ul {
	rotate: 90deg;

	display: flex;
	flex-direction: row;
	width: 100vh;

	list-style-type: none;
}

div#scroll-spy > ul * {
	transition: all 0.3s ease-in-out;
}

div#scroll-spy > ul > li {
	flex-grow: 1;
	height: 2.25rem;

	display: grid;
	place-content: center;
	justify-content: stretch;

	position: relative;
}

div#scroll-spy > ul > li.active::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	content: "";
	width: 0%;
	height: 2px;
	box-shadow: 0px 0px 12px rgba(222, 222, 222, 1);
	background-color: rgba(222, 222, 222, 0.8);
	animation: scroll-spy-link-active-indicator 0.3s ease-in-out forwards;
}

@keyframes scroll-spy-link-active-indicator {
	100% {
		width: calc(100% - 1rem);
	}
}

div#scroll-spy > ul > li > a {
	display: block;
	width: 100%;
	color: inherit;
	text-align: center;
	text-decoration: none;
}

div#scroll-spy > ul > li > a {
	background-image: linear-gradient(90deg, #dedede00, #dededeff, #dedede00);
	background-size: 0%;
	background-position: center center;
	background-repeat: no-repeat;
}

div#scroll-spy > ul > li > a:hover {
	background-size: 100%;
	color: var(--onyx);
}

main {
	isolation: isolate;
	height: 100vh;
	scroll-snap-type: y mandatory;
	box-shadow: inset 0px 0px 100px rgba(222, 222, 222, 0.4);
	overflow-x: hidden;
	overflow-y: auto;

	/* hide scrollbar */
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* hide scrollbar */
main::-webkit-scrollbar {
	display: none; /* For Chrome, Safari, and Opera */
}

main > section {
	height: 100vh;
	padding: 2.25rem;
	scroll-snap-align: center;
}

/*  ====================
			HOME
	==================== */
section#home {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

div.me {
	display: grid;
	place-content: center;
	position: relative;
	padding: 1rem;
	filter: grayscale(100%);
	transition: filter 0.3s ease-in-out;
}

div.me::before {
	content: "btw, i use arch";
	position: absolute;
	bottom: -1rem;
	right: 1.25rem;
	rotate: 180deg;
}

div.me::after {
	opacity: 0;
	content: "stop staring, uwu";

	position: absolute;
	inset: 0;

	font-size: xx-large;
	backdrop-filter: blur(8px) brightness(40%);

	display: grid;
	place-content: center;
}

div.me:hover::after {
	animation: show-uwu 3s forwards;
}

div.me:hover {
	filter: grayscale(0%);
}

@keyframes show-uwu {
	0% {
		opacity: 0;
	}

	99% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

div.me > img {
	height: calc(100% - 1rem);
	width: calc(100% - 1rem);
	margin: auto;
	border-radius: 1rem;
	box-shadow: 0px 0px 12px var(--platinum);
}

div.intro {
	align-self: stretch;
	display: grid;
	place-content: center;
}

div.intro > div {
	position: relative;
	font-size: xx-large;
	text-shadow: var(--shadow);
}

.bar {
	position: absolute;
	border-radius: 1rem;
	background-color: var(--platinum);
	box-shadow: var(--shadow);
	height: 105%;
	width: 4px;
	top: 50%;
	left: -1rem;
	transform: translateY(-50%);
}

#links {
	margin-top: 1.25rem;
}

#links > ul {
	list-style-type: none;
	overflow: hidden;
	font-weight: bold;
	overflow: visible;
}

#links > ul > li {
	color: var(--platinum);
	background-image: linear-gradient(270deg, #dedede00, #dededeff);
	background-size: 0%;
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
}

#links > ul > li::before {
	content: "⋙ ";
}

#links > ul > li > a {
	color: inherit;
	text-decoration: none;
	mix-blend-mode: darken;
}

#links > ul > li:hover {
	color: var(--onyx);
	mix-blend-mode: difference;
	background-size: 100%;
}

/*  ====================
		SKILLS
	==================== */
section#skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 1.25rem;
	column-gap: 1.25rem;
}

.skill-card {
	position: relative;

	flex-shrink: 0;
	flex-grow: 0;

	display: grid;
	place-content: center;
	width: 30%;
	height: auto;

	border-radius: 1rem;
	text-decoration: none;
	text-align: center;
	color: inherit;
	text-shadow: var(--shadow);
	white-space: nowrap;
}

.skill-card > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2.25rem;
}

.skill-card > div > i {
	font-size: 3.25rem;
}

.skill-card > ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	gap: 1rem;

	list-style-type: none;
	font-size: 2rem;

	opacity: 0;
}

.skill-card > ul > li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.skill-card,
.skill-card * {
	transition: all 0.3s ease-in-out;
}

.skill-card:hover {
	box-shadow: inset var(--shadow), var(--shadow);
	background-color: rgba(13, 13, 13, 0.8);
}

.skill-card:hover > div {
	opacity: 0;
}

.skill-card:hover > ul {
	opacity: 1;
}

/*  ====================
		ABOUT
	==================== */
section#about {
	display: grid;
	place-content: center;
	text-shadow: var(--shadow);

	font-size: xx-large;
}

section#about > * {
	padding: 1.25rem;
}

section#about > div {
	display: flex;
	flex-direction: row;
}

section#about > div > a {
	flex-grow: 1;
	text-align: center;

	color: inherit;
	text-decoration: none;
	background-image: linear-gradient(90deg, #dedede00, #dededeff, #dedede00);
	background-size: 0%;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
}

section#about > div > a:hover {
	background-size: 100%;
	color: var(--onyx);
	mix-blend-mode: difference;
}

/*  ====================
		CONTACT
	==================== */
section#contact {
	display: grid;
	place-content: center;
	text-align: center;
	font-size: xx-large;
}

ul#contact-links {
	text-shadow: var(--shadow);
	display: grid;
	gap: 1.25rem;
	list-style-type: none;
}

ul#contact-links > li {
	background-image: linear-gradient(90deg, #dedede00, #dededeff, #dedede00);
	background-size: 0%;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
	padding-inline: 12rem;
}

ul#contact-links > li:hover {
	color: var(--onyx);
	mix-blend-mode: difference;
	background-size: 100%;
}

ul#contact-links > li > a {
	color: inherit;
	text-decoration: none;
	mix-blend-mode: darken;
}
